{% extends 'base.html.twig' %}


{% block title %}
    Ticket Overview.
{% endblock %}

{% block body %}

    <div class="container content">
        <div class="title">Mijn Tickets</div>

        <table class="table">
            <tr>
                <td>Naam</td>
                <td>Datum</td>
                <td>Geldigheid</td>
            </tr>
            {% for ticket in tickets %}
                <tr>
                    <td><a href="{{ path('ticket_detail',{'id':ticket.getId()}) }}">{{ ticket.event.name }}</td>
                    <td>{{ ticket.event.getDateFormatted() }}</td>
                    <td>{{ ticket.claimed ? 'Geldig':'Ongeldig' }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}