{% extends 'base.html.twig' %}


{% block title %}
    Ticket Overview.
{% endblock %}

{% block body %}

    <div class="container content">
        <div class="title">Mijn Tickets</div>
        {% if tickets is not empty %}
        <table class="table">
            {% for ticket in tickets %}
                <tr>
                    <td><a href="{{ path('ticket_detail',{'id':ticket.getId()}) }}">{{ ticket.event.name }}</td>
                    <td>{{ ticket.event.getDateFormatted() }}</td>
                    <td>{{ ticket.claimed ? 'Ongeldig':'Geldig' }}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>U heeft nog geen tickets.</p>
        {% endif %}
    </div>

{% endblock %}