<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Nodig voor Bootstrap 3 CSS in forms -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

        {% block stylesheets %}
            <style>
                body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
                h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
                h1 { font-size: 36px; }
                h2 { font-size: 21px; margin-bottom: 1em; }
                p { margin: 0 0 1em 0; }
                a { color: #0000F0; }
                a:hover { text-decoration: none; }
                img{width: 200px;  height: 250px;}
                td{padding:0 15px 10px 15px;}
                #foto{float: right; margin-right: 125px; margin-bottom: 50px}
                code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
                #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; overflow:auto; }
                #container { padding: 2em; }
                #welcome, #status { margin-bottom: 2em; }
                #welcome h1 span { display: block; font-size: 75%; }
                #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
                #icon-book { display: none; }

                @media (min-width: 768px) {
                    #wrapper { width: 80%; margin: 2em auto; }
                    #icon-book { display: inline-block; }
                    #status a, #next a { display: block; }

                    @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
                    @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
                    .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
                }
            </style>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Nodig voor Bootstrap 3 CSS in forms -->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
            <div id="container">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">Feest</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                {% if app.user %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/account/view/{{ app.user.id }}">View</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="/logout">Log Out</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li><a href="/account/login">Log In</a></li>
                                    <li><a href="/account/register">Register</a></li>
                                {% endif %}
                                <li><form class="navbar-form" action="{{ path('searchName')}}" role="search">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search" name="Search" id="Search">
                                        </div>
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </form>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/events/allEvents">View</a></li>
                                    {% if app.user %}
                                        <li><a href="/events/my_events">Mijn Events</a></li>
                                    {% endif %}
                                    </ul>
                                </li>
                                <li><a href="/venues">Venues</a></li>
                                <li><a href="/tickets">Tickets</a></li>


                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>

                {% for flash_message in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        {{ flash_message }}
                    </div>
                {% endfor %}

                {% block body %}{% endblock %}
            </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>