{% extends 'base.html.twig' %}

{% block body %}
    <h1>Feest</h1>

    <p>Welkom op de homepagina van Feest</p>
    <p>Hier kunt u evenementen in uw buurt vinden, of zelf een evenement organiseren.</p>

    {% if( app.user ) %}
        <p>Welkom terug {{ app.user.username }}</p>
        <p><a href="/logout">Log uit</a> of <a href="/events">Mijn Events</a></p>
        <p>Bekijk alle events: <a href="/allEvents">Events</a></p>
    {%  else %}
        <p>Welkom. <a href="/account/login">Log in</a> of <a href="/account/register">Registreer</a></p>
        <p>Bekijk alle events: <a href="/allEvents">Events</a></p>
    {% endif %}
{% endblock %}