{% extends 'base.html.twig' %}

{% block body %}
    <h1>Feest</h1>

    <p>
        Welkom op de homepagina van Feest
        Hier kunt u evenementen in uw buurt vinden, of zelf een evenement organiseren.
    </p>

    {% if( user ) %}
        <p>Welkom terug {{ user.username }}</p>
    {%  else %}
        <p>Welkom. <a href="/account/register">Registreer</a></p>
    {% endif %}
{% endblock %}