{% extends 'base.html.twig' %}


{% block title %}
    Venues
{% endblock %}

{% block body %}
    <div class="container content">
        {% if venues is not empty %}
        <div class="title">Venues</div>

        <table class="table">
            <tr>
                <td>Naam</td>
                <td>Adres</td>
            </tr>
            {% for venue in venues %}
                <tr>
                    <td><a href="{{ path('venue_detail',{'id':venue.getId()}) }}">{{ venue.getName()}}</a></td>
                    <td>{{ venue.getFullAdress()}}</td>
                </tr>
            {% endfor %}
        </table>
            {% endif %}
        <p> <a class="feest-button" href="{{ path('add_venue') }}">Maak een nieuwe venue aan</a> </p>
    </div>
{% endblock %}