{% extends 'base.html.twig' %}

{% block body %}

    <p>Changing role {{ role }}</p>
    <!-- TODO: replace with list of available roles -->
    {{ form_start(form) }}
    {{ form_row(form.role) }}

    <div class="form-group">
        <div class="col-sm-10">
            <button type="submit">Change</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}