{% extends 'base.html.twig' %}

{% block body %}
    <div class="container content">
        <div class="title">Admin Overview</div>
        <p><a href="{{ path('adminuseroverview') }}">User Overview</a></p>
        <p><a href="{{ path('adminroleoverview') }}">Role Overview</a></p>
    </div>

{% endblock %}