{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin Overview</h1>

    <p><a href="{{ path('adminuseroverview') }}">User Overview</a></p>
    <p><a href="{{ path('adminroleoverview') }}">Role Overview</a></p>
{% endblock %}