{% extends 'base.html.twig' %}

{%  block title %}
    Account for {{ user.username }}
{% endblock %}

{% block body %}
    <h1>Profile: {{ user.username }}</h1>

    <table>
        <tr>
            <td>Email address: </td>
            <td>{{ user.email }}</td>
        </tr>
    </table>

    <a href="/account/editpassword">Edit Password</a>

{% endblock %}