{% extends 'account/accountinfo.html.twig' %}

{% block accountblock %}

    {% if user == app.user %}
        <p><a href="/account/editprofile">Edit Profile</a></p>
        <p><a href="/account/editpassword">Edit Password</a></p>
    {% endif %}

{% endblock %}