{% extends 'account/accountinfo.html.twig' %}

{% block accountblock %}

    {% if user == app.user %}
        <p><a href="{{ path('editprofile') }}">Edit Profile</a></p>
        <p><a href="{{ path('editpassword') }}">Edit Password</a></p>
    {% endif %}

{% endblock %}