{% extends 'base.html.twig' %}

{% block title %}
    Managers
{% endblock %}

{% block body %}
    <div class="container content">
        {% if event.managers is not empty %}
        <div class="title">Managers voor {{event.name}}</div>
        <table class="table">
            <tr>
                <td>Naam</td>
                <td>Delete</td>
            </tr>
            {% for manager in event.managers %}
                <tr>
                    <td>{{ manager.username }}</td>
                    <td><a href="{{ path('delete_manager',{'event_id': event.getId(), 'username': manager.username}) }}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        <p> <a class="feest-button" href="{{ path('add_manager',{'event_id': event.getId()} ) }}">Voeg manager toe</a> </p>
    </div>
{% endblock %}
