{% extends 'base.html.twig' %}

{%  block title %}
    Venue
{% endblock %}

{% block body %}
    <div class="container content">
        <div class="title">Selecteer een venue</div>
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

        {{ form_start(form) }}
        {{ form_row(form.venue) }}
        {{ form_end(form) }}
    </div>

{% endblock %}