{% extends 'base.html.twig' %}

{% block body %}
    <div class="container content">
        {{ include('::admin/user/roleinfo.html.twig', {'headerText': 'Change Role ' ~ role, 'submitText': 'Change'}) }}
    </div>
{% endblock %}