{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin User Overview</h1>

    {% if users is not empty %}
        <table>
            <tr>
                <th>Username</th>
                <th></th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td><a href="{{ path("adminuserview", {'id': user.id}) }}">View Profile</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No users to display</p>
    {% endif %}
{% endblock %}